* {
    margin: 0;
}
nav {
    background-color: darkslategrey;
    height: 58px;
}
nav a {
    text-decoration: none;
    color: darkslategrey;
}
nav a:hover {
    background-color: yellow;
}
@media (max-width: 767px) {
nav ul {
    list-style-type: none;
    display: inline-block;
    background-color: azure;
    padding: 10px;
    width: 378px;
    position: absolute;
    right: 0;
}
nav ul li {
    display: inline-block;
    padding: 10px;
    color: darkslategrey;
}
nav h1 {
    display: inline-block;
    width: calc(100%-378px);
    height: 58px;
    vertical-align: middle;
    padding-top: 10px;
    color: azure;
    margin-left: 20px;
}
}

@media ((min-width: 768px) and (max-width: 1024px) ) {
nav ul {
    list-style-type: none;
    background-color: azure;
    padding: 10px;
    width: 100%;
    text-align: center;
}
nav ul li {
    padding: 10px;
    color: darkslategrey;
}
nav h1 {
    width: calc(100%-378px);
    height: 58px;
    color: azure;
    padding: 10px;
    text-align: center;
}
}
