* {
    margin: 0;
}
body {
    background-color: #f7f5ed;
}
nav {
    background-color: white;
    height: 58px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 4px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
}
nav>div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 10px;
    width: 378px;
    
}
nav ul li {
    padding: 10px;
    color: black;
    
}
nav h1 {
    width: calc(100%-378px);
    height: 58px;
    padding-top: 10px;
    color: black;
    margin-right: 20px;
    font-family: "Roboto Mono", monospace;
}
.container {
    display: flex;
    
}
.left{
    margin: 10px;
    margin-left: 2.5%;
    width: 65%;
    
}
.left-top {
    height: 30%;
    border: 1px solid;
    padding: 10px;
    background-color: white;
}
.left-top a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
}
.left-bot {
    display: flex;
    gap: 15px;
    margin-top: 13px;
}
.left-bot2 {
    display: flex;
    gap: 15px;
    margin-top: 13px;
}
.left-bot div {
    border: 1px solid;
    flex-grow: 1;
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
    
}
.left-bot2 div {
    border: 1px solid;
    flex-grow: 1;
    display: flex;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 6px;
    
}
.left-bot>div img {
    justify-content: right;
    margin-left: 30px;
}
.left-bot2>div img {
    justify-content: right;
    margin-left: 30px;
}
.right {
    margin-top: 10px;
}
footer p {
    text-align: center;
    margin: 20px;
}
@media (max-width: 767px) {
nav {
    background-color: white;
    height: 100%;
    display: flex;
    border: 1px solid;
    border-radius: 4px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 10px;
    flex-direction: column;
    text-align: center;
}
nav>div>button {
    position: absolute;
    right: 7%;
    height: 30px;
    width: 30px;
}
nav ul {
    list-style-type: none;
    display: none;
    width: 93%;
    padding: 10px;
    flex-direction: column;
}
nav ul.visible {
    display: flex;
}
nav ul li {
    padding: 10px;
    color: black;
    
}
.container {
    display: flex;
    flex-direction: column;
}
.left{
    margin: 10px;
    margin-left: 2.5%;
    width: 95%;
    height: 1100px;
    
}
.left-top {
    height: 30%;
    border: 1px solid;
    padding: 10px;
    background-color: white;
}
.left-top a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
}
.left-bot {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    flex-direction: column;
}
.left-bot2 {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-direction: column;
}
.left-bot div {
    border: 1px solid;
    flex-grow: 1;
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
    
}
.left-bot2 div {
    border: 1px solid;
    flex-grow: 1;
    display: flex;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 6px;
    
}
.left-bot>div img {
    justify-content: right;
    margin-left: 30px;
}
.left-bot2>div img {
    justify-content: right;
    margin-left: 30px;
}
.right {
    margin-top: 10px;
    margin-left: 10%;
}
footer p {
    text-align: center;
    margin: 20px;
}
}

@media ((min-width: 768px) ) {
    nav>div>button {
    display: none;
}
}
